replicaCount: 1
image:
  repository: public.ecr.aws/w0f5g4k6/hello-svc
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 80
  name: hello
ingress:
  enabled: true
  className: "alb"
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/healthcheck-path: /hello
    alb.ingress.kubernetes.io/group.name: myapp
  hosts:
    - host: hello.com
      paths:
        - path: /hello
          pathType: Prefix
livenessProbe:
  httpGet:
    path: /hello
    port: http
readinessProbe:
  httpGet:
    path: /hello
    port: http